# first create a folder that name is project name then inside the folder create .env file and copy the content from below and paste it on your .env file and past full env same to same 
# terminal : git clone -b main https://github.com/shamimrana2006/authentication_server.git .
# delete .git folder then 
# git init

# dotenv-expand npm package use for dynamically add variable system

#reanme in env  docker username then set  IMMAGE_NAME and SERVER_NAME accordingly
#create a new repository
# then set the github secret for all info below except these

#if you deploy 
##------- add github secret 
### DOCKER_USERNAME
### DOCKER_PASSWORD
### IMMAGE_NAME
### SERVER_NAME
### EC2_HOST
### EC2_USER
### EC2_SSH_KEY
### EC2_SSH_PORT

# setup caddyfile with port mapping/domain
# if you port/change port :
# add in your ec2 instance all port enable(inbound secury) from caddy file and makesure all port expose from docker and docker_caddy(compose file)
# SERVER_PORT from .env
# caddy reverse proxy target all port

# install docker engine and docker compose in your ec2 instance
## sudo usermod -aG docker $USER (for docker without sudo)
# git push to github repo
## 100% sure action faild for without env git push so create .env and past it in you vps

# ------------------------------------------------------------------

# App Configuration

#if you change this port also change in Dockerfile EXPOSE instruction and Caddyfile reverse_proxy target
PORT=3200

# Caddy  reverse_proxy SERVER_SERVICE_NAME:PORT
#EXAMPLE: reverse_proxy server:6545

#email verification required or not if yes then true otherwise false
EMAIL_VERIFICATION_REQUIRED=false

#### server name 
# database credential related from server_name
SERVER_NAME=velvet_backend
#IF CHANGE IMMAGE_NAME then change in github secret also 
IMMAGE_NAME=shamimranaprofessionaloffice/${SERVER_NAME}:latest

# PostgreSQL Database Credentials
POSTGRES_USER=${SERVER_NAME}_user
POSTGRES_PASSWORD=${SERVER_NAME}_Pass
POSTGRES_DB=${SERVER_NAME}_DB
# if deployment then  postgres port delete from end 
# POSTGRES_PORT=7458
SERVER_PORT=6000 
PRISMA_STUDIO_PORT=7896
PRISMA_STUDIO_PORT_LOCAL=8462

# Database Connection URL
# DATABASE_URL="postgresql://${POSTGRES_USER}:${POSTGRES_PASSWORD}@postgres:${POSTGRES_PORT}/${POSTGRES_DB}?schema=public"
DATABASE_URL="postgresql://${POSTGRES_USER}:${POSTGRES_PASSWORD}@localhost:${POSTGRES_PORT}/${POSTGRES_DB}?schema=public"

# JWT Secret Key
JWT_SECRET=your_jwt_secret_key_here

# check cookie and token expiration easily
ACCESS_TOKEN_EXPIRATION_MS= 86400000 # 1day in milliseconds
REFRESH_TOKEN_EXPIRATION_MS= 172800000 # 2 days in milliseconds




# super admin user credential not impleemented yet
# SUPERADMIN_EMAIL=superadmin@example.com
# SUPERADMIN_USERNAME=superadmin
# SUPERADMIN_PASSWORD=strongPassword123

#========================================---need to change, collect from client---========================================#

# Email Service Configuration
MAIL_HOST=smtp.gmail.com
MAIL_PORT=587
MAIL_USER=shamimranaprofessional@gmail.com
MAIL_PASSWORD=zwnm lmek pkix wfdf
MAIL_FROM_NAME=Auth Service
MAIL_FROM=shamimranaprofessional@gmail.com

#s3 credentials
AWS_ACCESS_KEY_ID=AKIA5MINZRU6U2WJORAK
AWS_SECRET_ACCESS_KEY=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
AWS_REGION=eu-north-1
AWS_S3_BUCKET_NAME=shamimrana2006

#AWS credential dont need in backend server these is for github secret scanning test if you not fill then also no problem just fill in github secret for these
EC2_HOST=
EC2_SSH_KEY=
EC2_USER=
EC2_SSH_PORT=

# docker credential dont need in backend server these is for github secret scanning test if you not fill then also no problem just fill in github secret for these
DOCKER_PASSWORD=
DOCKER_USERNAME=



### social login credentials ###
# Firebase Configuration (for Google,facebook, github etc. Sign-In)
google=true #need credetials for firbase setup
facebook=true #need credetials for firbase setup
FIREBASE_PROJECT_ID="example-b6f89"
FIREBASE_PRIVATE_KEY="example-----BEGIN PRIVATE KEY-----\nMExample0wn8c\n15Q8YuHw7IU+FHfXtU6LnN8JYRmIHNOay8ejmf7aszUdpZxV2udW53DmO4hc3V3O\nC+kGaVvq/dXCdQKBQHKxOb/c+W020d2m3jlhsfIawiHM2w+6xx6DF2E0Z7HO5SE3\n6Ox3mJsmGwikAz0QyhsV0ZE=\n-----END PRIVATE KEY-----\n"
FIREBASE_CLIENT_EMAIL="firebase-example-fbsvc@jconnect-b6f89.iam.gserviceaccount.com"

# dont need in backend server these is for client side
# Firebase Web (client) config for social login UI
FIREBASE_WEB_API_KEY=example_wlKwAvJJ_e0nLLX84Xqn9h5bQtARsycM
FIREBASE_WEB_AUTH_DOMAIN=example-b6f89.firebaseapp.com
FIREBASE_WEB_PROJECT_ID=example-b6f89
FIREBASE_WEB_STORAGE_BUCKET=example-b6f89.firebasestorage.app
FIREBASE_WEB_MESSAGING_SENDER_ID=example
FIREBASE_WEB_APP_ID=1:example:web:bb4bcde2c7fd65fed93e07
FIREBASE_WEB_MEASUREMENT_ID=example-G-81J9NQ13DG

# discord credentials
DISCORD_CLIENT_ID=example3208359305317
DISCORD_CLIENT_SECRET=example_NUQtUDO8Q86NJZzF4gxngmXcQa7
DISCORD_CALLBACK_URL=http://localhost:${PORT}/auth/discord/callback # first build in your backend server url
FRONTEND_URL=http://localhost:3000 # fronend url for redirect after social login and change firebase credentials accordingly


