# first create a folder that name is project name then inside the folder create .env file and copy the content from below and paste it on your .env file and past full env same to same 
# terminal : git clone -b main https://github.com/shamimrana2006/authentication_server.git .
# delete .git folder then 
# git init

#reanme in env  docker username then set  IMMAGE_NAME and SERVER_NAME accordingly
#create a new repository
# then set the github secret for all info below except these

#if you deploy 
##------- add github secret 
### DOCKER_USERNAME
### DOCKER_PASSWORD
### IMMAGE_NAME
### SERVER_NAME
### EC2_HOST
### EC2_USER
### EC2_SSH_KEY
### EC2_SSH_PORT

#setup caddyfile with port mapping/domain
#if you port/change port :
# add in your ec2 instance all port enable(inbound secury) from caddy file and makesure all port expose from docker and docker_caddy(compose file)
# SERVER_PORT from .env
# caddy reverse proxy target all port

# install docker engine and docker compose in your ec2 instance
## sudo usermod -aG docker $USER (for docker without sudo)
# git push to github repo
## 100% sure action faild for without env git push so create .env and past it in you vps

# ------------------------------------------------------------------

# App Configuration

#if you change this port also change in Dockerfile EXPOSE instruction and Caddyfile reverse_proxy target
PORT=3200

# Caddy  reverse_proxy SERVER_SERVICE_NAME:PORT
#EXAMPLE: reverse_proxy server:6545

#email verification required or not if yes then true otherwise false
EMAIL_VERIFICATION_REQUIRED=false

#### server name 
# database credential related from server_name
SERVER_NAME=velvet_backend
#IF CHANGE IMMAGE_NAME then change in github secret also 
IMMAGE_NAME=example/${SERVER_NAME}:latest

# PostgreSQL Database Credentials
POSTGRES_USER=${SERVER_NAME}_user
POSTGRES_PASSWORD=${SERVER_NAME}_Pass
POSTGRES_DB=${SERVER_NAME}_DB
# if deployment then  postgres port delete from end 
# POSTGRES_PORT=7458
SERVER_PORT=6000 
PRISMA_STUDIO_PORT=7896
PRISMA_STUDIO_PORT_LOCAL=8462

# Database Connection URL
# DATABASE_URL="postgresql://${POSTGRES_USER}:${POSTGRES_PASSWORD}@postgres:${POSTGRES_PORT}/${POSTGRES_DB}?schema=public"
DATABASE_URL="postgresql://${POSTGRES_USER}:${POSTGRES_PASSWORD}@localhost:${POSTGRES_PORT}/${POSTGRES_DB}?schema=public"

# JWT Secret Key
JWT_SECRET=your_jwt_secret_key_here

# check cookie and token expiration easily
ACCESS_TOKEN_EXPIRATION_MS= 604800000 # 7day in milliseconds
REFRESH_TOKEN_EXPIRATION_MS= 2592000000 # 30 days in milliseconds




#========================================---need to change, collect from client---========================================#

# Email Service Configuration
MAIL_HOST=smtp.gmail.com
MAIL_PORT=587
MAIL_USER=EXAMPLE@gmail.com
MAIL_PASSWORD=EXAMPLE
MAIL_FROM_NAME=EXAMPLE
MAIL_FROM=EXAMPLE@gmail.com

#s3 credentials
AWS_ACCESS_KEY_ID=EXAMPLE5MINZRU6U2WJORAK
AWS_SECRET_ACCESS_KEY=EXAMPLE+iXtS5OkfX/SZoUx+TQSN0FskehDgSodcl/G
AWS_REGION=eu-north-1
AWS_S3_BUCKET_NAME=EXAMPLE

#AWS credential for github secret scanning test
EC2_HOST=
EC2_SSH_KEY=
EC2_USER=
EC2_SSH_PORT=

# docker credential 
DOCKER_PASSWORD=
DOCKER_USERNAME=



### social login credentials ###
# Firebase Configuration (for Google,facebook, github etc. Sign-In)
github=true #need credetials for firbase setup
google=true #need credetials for firbase setup
facebook= #need credetials for firbase setup
FIREBASE_PROJECT_ID="example-b6f89"
FIREBASE_PRIVATE_KEY="-exampleV0ZE=\n-----END PRIVATE KEY-----\n"
FIREBASE_CLIENT_EMAIL="example@jconnect-b6f89.iam.gserviceaccount.com"

# dont need in backend server these is for client side
# Firebase Web (client) config for social login UI
FIREBASE_WEB_API_KEY=example_e0nLLX84Xqn9h5bQtARsycM
FIREBASE_WEB_AUTH_DOMAIN=example-b6f89.firebaseapp.com
FIREBASE_WEB_PROJECT_ID=example-b6f89
FIREBASE_WEB_STORAGE_BUCKET=example-b6f89.firebasestorage.app
FIREBASE_WEB_MESSAGING_SENDER_ID=example06012294
FIREBASE_WEB_APP_ID=example94:web:bb4bcde2c7fd65fed93e07
FIREBASE_WEB_MEASUREMENT_ID=example

# discord credentials
DISCORD_CLIENT_ID=exampleclientid
DISCORD_CLIENT_SECRET=example
DISCORD_CALLBACK_URL=http://localhost:${PORT}/auth/discord/callback # first build in your backend server url
FRONTEND_URL=http://localhost:3000 # fronend url for redirect after social login and change firebase credentials accordingly