
# Backend API
api.velvet.softvence.dev {
    reverse_proxy localhost:7007
}

# prisma studio
db.velvet.softvence.dev {
     basicauth {
        shamimrana2006 $2y$10$/x6ntJtyiAp/NAJlWZlYK.ikj517KYpgqgC.pg4xY32LrLpH6qc6y
    }
    reverse_proxy prisma_studio:7008
}
 